
/* ===== Classes ===== */

.OverlayHideClass
{
    height: 0%;
    width: 0%;
    top: 0%;
    left: 0%;
}

/*.OverlayCenterClass
{
    height: 80%;
    width: 80%;
    top: 10%;
    left: 10%;
}

.OverlayRightClass
{
    height: 100%;
    width: 40%;
    top: 0%;
    left: 60%;
}

.OverlayLeftClass
{
    height: 100%;
    width: 40%;
    top: 0%;
    left: 0%;
}

.OverlayTopClass
{
    height: 40%;
    width: 100%;
    top: 0%;
    left: 0%;
}

.OverlayBottomClass
{
    height: 40%;
    width: 100%;
    top: 60%;
    left: 0%;
}*/
